.random-planet {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.list-group .list-group-item {
  cursor: pointer;
}
.list-group .list-group-item:hover {
  background-color: #444;
}
.list-group-item .term {
  margin-right: 8px;
}
