@keyframes ldio-dhkato82of4 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-dhkato82of4 div {
  box-sizing: border-box !important;
}
.ldio-dhkato82of4 > div {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 11px;
  left: 11px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #93dbe9 transparent #93dbe9 transparent;
  animation: ldio-dhkato82of4 2.4390243902439024s linear infinite;
}

.ldio-dhkato82of4 > div:nth-child(2),
.ldio-dhkato82of4 > div:nth-child(4) {
  width: 60px;
  height: 60px;
  top: 20px;
  left: 20px;
  animation: ldio-dhkato82of4 2.4390243902439024s linear infinite reverse;
}
.ldio-dhkato82of4 > div:nth-child(2) {
  border-color: transparent #689cc5 transparent #689cc5;
}
.ldio-dhkato82of4 > div:nth-child(3) {
  border-color: transparent;
}
.ldio-dhkato82of4 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-dhkato82of4 > div:nth-child(3) div:before,
.ldio-dhkato82of4 > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 27px;
  background: #93dbe9;
  border-radius: 50%;
  box-shadow: 0 70px 0 0 #93dbe9;
}
.ldio-dhkato82of4 > div:nth-child(3) div:after {
  left: -8px;
  top: 27px;
  box-shadow: 70px 0 0 0 #93dbe9;
}

.ldio-dhkato82of4 > div:nth-child(4) {
  border-color: transparent;
}
.ldio-dhkato82of4 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-dhkato82of4 > div:nth-child(4) div:before,
.ldio-dhkato82of4 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 18px;
  background: #689cc5;
  border-radius: 50%;
  box-shadow: 0 52px 0 0 #689cc5;
}
.ldio-dhkato82of4 > div:nth-child(4) div:after {
  left: -8px;
  top: 18px;
  box-shadow: 52px 0 0 0 #689cc5;
}
.loadingio-spinner-double-ring-7siywo2x35l {
  width: 71px;
  height: 71px;
  display: inline-block;
  overflow: hidden;
  background: #222222;
}
.ldio-dhkato82of4 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.71);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dhkato82of4 div {
  box-sizing: content-box;
}
